
.main-content{
}

.photo-user{
  width: 400px;
  height: 400px;
  border-radius: 200px;
}

.desc-user{
  width: 400px;
  word-wrap: break-word;
  text-align: center;
}

.users-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
